<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vista Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 93vh;
    "
  >
    <ion-img
      src="../../assets/14aa193a-ff89-43f9-a34f-4c7c107413ae.webp"
    ></ion-img>
  </ion-card>
</ion-content>
