.logo-container {
  text-align: center;
  margin-top: 20px;
}
.logo-container img {
  max-width: 100%; 
  height: auto;
}

.logo-container img {
  width: 100px;
  height: auto;
}

ion-card {
  margin: 15px;
}

ion-card-title {
  font-size: 1.5rem;
}
